RewriteEngine On

# Error Pages
ErrorDocument 401 /not-found.html
ErrorDocument 403 /not-found.html
ErrorDocument 404 /not-found.html
ErrorDocument 500 /not-found.html

# Prevent directory browsing
Options -Indexes +FollowSymLinks -MultiViews

# Canonical host
RewriteCond %{HTTP_HOST}    ^www\.(.*)      [NC]
RewriteRule ^(.*)$          http://%1/$1    [L,R,NE]

#Needed
RewriteRule ^sitemap.xml$ sitemap.xml

# Rewrite Rules
RewriteRule ^sign-out/$ /sign-out.php
RewriteRule ^dashboard/$ /dashboard.php?section=1
RewriteRule ^add-guest/$ /add-member.php?section=2
RewriteRule ^guests/$ /members.php?section=3
RewriteRule ^tasks/$ /tasks.php?section=4
RewriteRule ^agencies/$ /agencies.php?section=5
RewriteRule ^([0-9]+)/([A-Za-z0-9-]+)/$ /add-member.php?memberId=$1&section=6
RewriteRule ^email/$ /email.php?section=7
RewriteRule ^brokers/$ /brokers.php?section=8
RewriteRule ^add-broker/$ /add-broker.php?section=9
RewriteRule ^broker/([0-9]+)/([A-Za-z0-9-]+)/$ /add-broker.php?brokerId=$1&section=10
RewriteRule ^calendar/$ /calendar.php?section=11
RewriteRule ^reservations/$ /reservations.php?section=12
RewriteRule ^rooms/$ /rooms.php?section=13
RewriteRule ^rooms/from/([A-Za-z0-9-]+)/$ /rooms.php?from=$1&section=13
